[submodule "Drawing-program/External/freetype"]
	path = Drawing-program/External/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "Drawing-program/External/glm"]
	path = Drawing-program/External/glm
	url = https://github.com/g-truc/glm
[submodule "Drawing-program/External/glfw"]
	path = Drawing-program/External/glfw
	url = https://github.com/glfw/glfw.git
