[submodule "Drawing-program/external/glfw"]
	path = Drawing-program/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Drawing-program/external/freetype"]
	path = Drawing-program/external/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "Drawing-program/external/glm"]
	path = Drawing-program/external/glm
	url = https://github.com/g-truc/glm
